* {
	font-family: 'Peddana', serif;
	font-size: 28px;
}
h1 ,h3,a	{
	color: blue;
	background-color: #cf7500;
}
ol {
	color: #132743;
}
form {
	color: #132743;
	background-color: #1aa6b7;
	border: 3px solid #8675a9;
}
body {
	background-color: #87431d;
}

li {
	list-style: none;
	display: inline-block;;
}

.webtext {
	background-color: #ffaa71;
}

footer {
	clear: both;
	text-align: center;
	margin-bottom: 0px;
}